

<!-- <button (click)="startGameRoom()">Start GameRoom</button> -->

<div *ngIf="room && !renderGame()" class="game-room">
    <div class="players-container">
        <div class="room-info">
            <h3>{{room.name}}</h3>
            <h4>Host: {{hostName}}</h4>
            <h4>Dealer: {{dealerName}}</h4>
        </div>
        <div class="players-list-container">
            <h4>Players </h4>
            <ul class="players-list">
                <li *ngFor="let player of room.players;">
                    <div [class]="player.ready ? 'ready-player': 'unready-player'">
                        {{player.name}}
                    </div>
                </li>
            </ul>
        </div>
        <button (click)="toggleReady()">{{readyButtonLabel()}}</button>
    </div>
</div>
<div class="game-container" *ngIf="renderGame()">
    <app-minesweeper (updateGameRoom)="updateRoom($event)" [room]="room"></app-minesweeper>
</div>
