<div class="container">
        <h1>User Sign In/ Registration</h1>
        <form [formGroup]="inputControl">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" formControlName="username"/>
            </div>
            <pre></pre>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password"/>
            </div>
            <pre></pre>
            <div container="user-form-buttons">
                <button type="submit" (click)="onSignIn($event)">Sign In</button>
                <button type="submit" (click)="onRegister($event)">Register</button>
            </div>
        </form>
</div>