.container{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 60%;
}

form .input-container {
    width: 100%;
}

form .user-form-buttons{
    display: flex;
    width: 100%;
}

form .user-form-buttons button{
    width: 40%;
    margin: auto;
}

h1.form-heading{
    font-size: xx-large;
}

h4.form-link{
    color: orange;
}

h4.form-link:hover{
    cursor: pointer;
    text-decoration: underline;
}