
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    /* border: 4px solid #ec1010c4; */
    min-height: 100vh;
    width: 100%;
    padding: 0.4rem;
    background-color: black;
    box-sizing: border-box;
    display: flex;
}


.app-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    /* font-size: large; */
}
/* 
@font-face {
    font-family: big-fans;
    src: url(./assets/Bigfans.ttf);
  }

*{
    font-family: big-fans;
} */
html, body { height: 100%; }
*{ 
    color: white;
    font-family:"Covered By Your Grace", cursive !important;
    font-weight: 400;
    font-style: normal;
}

@keyframes slide-up{
    to{
        transform: translateY(-100vh);
    }
}
@keyframes slide-up-new{
    from{
        transform: translateY(100vh);
    }
}
@keyframes slide-down{
    to{
        transform: translateY(100vh);
    }
}
@keyframes slide-down-new{
    from{
        transform: translateY(-100vh);
    }
}


@keyframes slide-left {
    to{
        transform: translateX(-100vw);
    }
}
@keyframes slide-left-new {
    from{
        transform: translateX(100vw);
    }
}

@keyframes slide-right {
    to{
        transform: translateX(100vw);
    }
}
@keyframes slide-right-new {
    from{
        transform: translateX(-100vw);
    }
}

::view-transition-old(*){
    animation-name: slide-left;
    animation-duration: 200ms;
}
::view-transition-new(*){
    animation-name: slide-left-new;
    animation-duration: 200ms;
}
html:active-view-transition-type(backwards){
    &::view-transition-old(*){
        animation-name: slide-right;
        animation-duration: 200ms;
    }
    &::view-transition-new(*){
        animation-name: slide-right-new;
        animation-duration: 200ms;
    }
}
html:active-view-transition-type(login){
    &::view-transition-old(*){
        animation-name: slide-up;
        animation-duration: 200ms;
    }
    &::view-transition-new(*){
        animation-name: slide-up-new;
        animation-duration: 200ms;
    }
}
html:active-view-transition-type(logout){
    &::view-transition-old(*){
        animation-name: slide-down;
        animation-duration: 500ms;
    }
    &::view-transition-new(*){
        animation-name: slide-down-new;
        animation-duration: 500ms;
    }
}