.minesweeper-tile{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border: 2px solid darkblue;
    border-radius: 5px;
    margin: 5px;
}

.tilesContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.game-over-message, .mines-left-message{
    width: 100%;
    text-align: center;
    height: 10%;
    font-size: xxx-large;
}

.safe{
    background-color: white;
}

.mine{
    background-color: red;
}

.game-area-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}